
body {
  background-color: lightblue;
  padding-left: 50px;
}
h1 {
  color:teal;
  font-family: 'Judson', serif;
  font-size: 55px;
}
p {
  color:teal;
  width: 800px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}
a {
  color: yellow;
  text-decoration: none;
}
